/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

body {
    background: var(--backclr);
    color: var(--fontclr);
    padding-top: 50px;
    padding-left: 50px;
    align-content: center;
    font-size: var(--font-size)
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}

.error {
    color: var(--error) !important;
    font-weight: bolder;
    size: 15px;
}

a {
    color: var(--link)
}

a:hover {
    color: var(--linkHov)
}

.IncludedView a.backButton,
.IncludedView .excelButton {
    display: none
}

input {
    background: var(--inputBack);
    color: var(--inputClr);
}

table {
    margin-top: 5px;
    margin-bottom: 5px;
}

table thead tr th{
    padding: 5px;
    border: 2px solid var(--border);
    background: var(--tableHeadBack);
    color: var(--tableHeadFont);
    text-align: center
}

table tbody tr td {
    border: 2px solid var(--border);
    padding: 5px;
    text-align: center
}

table tbody tr:nth-child(even) {
    background: var(--tableEvenBack);
    color: var(--tableEvenFont)
}
table tbody tr:nth-child(odd) {
    background: var(--tableOddBack);
    color: var(--tableOddFont);
}

table.freeTable tr th,
table.freeTable tr td {
    border: 0;
    background: var(--backclr);
    color: var(--fontclr);
}

td.boolTrue {
    background-image: url('../Images/Sign.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
td.boolFalse {
    background-image: url('../Images/RedCross.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

table tfoot tr td {
    background: var(--tableFootBack);
    color: var(--tableFootFont);
}

.InfoTable tr > td {
    border: 2px solid var(--border) !important;
}

.InfoTable tr > td:nth-child(2n+1) {
    background: var(--tableHeadBack);
    color: var(--tableHeadFont);
    text-align: right;
}

.InfoTable tr > td:nth-child(2n) {
    background: var(--tableOddBack);
    color: var(--tableOddFont);
}

button {
    background: var(--butBack);
    border-radius: 18px;
    font-family: Arial;
    color: var(--butClr);
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}
button:hover {
    background: var(--butBack-Hov);
    border-radius: 18px;
    font-family: Arial;
    color: var(--butClr-Hov);
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

select {
    background: var(--selectBack);
    color: var(--selectClr);
}

