@using MRS_web.Models.EDM
@{
    ViewBag.Title = $"Список показаний счётчика \"{ViewData["MeterName"]}\" ({ViewData["ReadingsUnit"]})";
}

<h3>
    <a class="backButton" href="javascript:history.go(-1)">Назад</a>
</h3>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ExportReadings", "Database"))
{
    <div style="padding: 5px">
        <button  class="excelButton" type="submit" name="MeterId" value=@ViewData["MeterId"]><img width=30 height=30 src="~/Images/Excel.png"></button>
    </div>
}

<table>
    <thead>
        <tr>
            <th>Номер счётчика</th>
            <th>Номер тарифа</th>
            <th>Значение</th>
        </tr>
    </thead>
    @{
        foreach (Reading r in (IEnumerable<Reading>)ViewData["Readings"])
        {
            <tr>
                <td>@r.Meter.ProductionId</td>
                <td>@r.TariffNumber</td>
                <td>@r.Value</td>
            </tr>
        }
    }
</table>

