
@{
    ViewBag.Title = "Главная страница";
}
<center>
    <h2>@ViewBag.Title</h2>
    <h2>Добро пожаловать. Снова.</h2>
    <div>
        Наше лого:
        <img src="~/Images/Logo.png" width=300 height=300/>
    </div>
</center>

